<footer>
  <hr>
  <ul class="list-inline">
    <li><%= link_to "Home", "/index.html" %></li>
    <li><a role="button" href="https://github.com/GrilloPress/trading-cards" target="_blank">Github repo</a></li>
    <li>Project by <a href="https://twitter.com/AndrewDuck_" target="_blank">Andrew Duckworth</a></li>
  </ul>
</footer>